
<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Invoice</title>
    <style>
        h4 {
            margin: 0;
        }
        .margin-top {
            margin-top: 1.25rem;
        }
        table {
            width: 100%;
            border-spacing: 0;
        }
        td, tr, th, div {
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
        }
        table, th, td {
            border: 0.05px solid black;
        }
        .simple {
            border: 0px solid black;
        }
    </style>
</head>
<body>
<div style="text-align: center">
    <br><br>
    <b style="font-size: 30px">REPORTE DE </b><br>
</div>
<br>
<table style="width: auto" class="simple">
    <tr class="simple">
        <td class="simple">
            <b>Datos desde:</b>
        </td>
        <td class="simple">
            1
        </td>
        <td class="simple">
            <b>Hasta:</b>
        </td>
        <td class="simple">
            1
        </td>
        <td class="simple">
            <b>Criterio:</b>
        </td>
        <td class="simple">
            1
        </td>
        <td class="simple">
            <b>Orden:</b>
        </td>
        <td class="simple">
            1
        </td>
    </tr>
</table>

<div>
    <table class="products simple">
        <tr>
            <th><b>PRODUCTO</b></th>
            <th><b>CANTIDAD</b></th>
            <th><b>MARCA</b></th>
            <th><b>PRECIO<br>UNITARIO</b></th>
            <th><b>DESCUENTO</b></th>
            <th><b>SUBTOTAL</b></th>
        </tr>
        
        <tr>
            <td style="text-align: right">A</td>
            <td style="text-align: right">A</td>
            <td style="text-align: right">A</td>
            <td style="text-align: right">A</td>
            <td style="text-align: right">A</td>
            <td style="text-align: right">A</td>
        </tr>
    </table>
</div>
</body>
</html>